fastapi
uvicorn

requests
passlib[bcrypt]
python-jose
email-validator
pymongo
python-multipart
sentence-transformers
chromadb
sqlalchemy

python-dotenv
together #connexion au grand modele de language LLM